<template>
    <div class="">
        <h3>Add New Dish</h3>
        <form @submit.prevent="saveDish" class="add-new-form">
            <div class="form-row">
              <label for="">Dish name</label>
                <input class="input-field" type="text" v-model="name" required>
            </div>
            <div class="form-row">
              <label for="">Origin</label>
                <input class="input-field" type="text" v-model="origin" required>
            </div>
            <div class="form-row">
              <label for="" >Cooking time</label>
                <input class="input-field" type="text" v-model="cookingTime" required>
            </div>
            <div class="form-row">
              <label for="" >Image</label>
                <input class="input-field" type="text" v-model="image" required>
            </div>
            <div class="form-row">
              <label for="" >Ingridients</label>
                <textarea class="input-field" name="textarea"  cols="30" rows="10" v-model="ingridients" required></textarea>
            </div>
            <router-link to="/">
                <button>Back</button>
            </router-link>
            <button type="submit" class="sbm-btn">Submit</button>
        </form>
    </div>
 </template>
<script>


import { mapActions } from "vuex";
export default {

    data(){
        return{
            name: null,
            origin: null,
            cookingTime: null,
            image: null,
            ingridients: null,
        }
    },
    methods: {
        ...mapActions('dishes',['addItem']),
        
        saveDish(){
            this.addItem({
                name: this.name,
                origin: this.origin,
                cookingTime: this.cookingTime,
                image: this.image,
                cookingTime: this.cookingTime,
                ingridients: JSON.parse(JSON.stringify(this.ingridients.split('\n'))),
            })
            .then(() => {
                this.$router.push('/')
            })
        }
    },
  
  }
  </script>
  <style>
  .add-new-form{
      margin: auto;
      display: inline-block;
  }
  .form-row {
      display: flex;
      margin-bottom: 5px;
  }
  .input-field{
      margin-right: 5px;
  }
  .sbm-btn{
      margin: 10px;
  }
  </style>