<template>
    <div v-if="isLoading">Loading....</div>
    <div v-else-if="hasError">Error!!!!!</div>
    <div v-else>
        <h2>Dish Details</h2>
        <div class="dish">
            <div class="dish-image">
                <img :src="dish.image" alt="dish.name">
            </div>
            <div class="dish-details">
                <p><b>Dish name:</b> {{ dish.name }}</p>
                <p><b>Origin:</b> {{ dish.origin }}</p>
                <p><b>Cooking time:</b> {{ dish.cookingTime }}</p>
                <div class="ingridients">
                    <div>
                        <b>Ingridients:</b>
                    </div>
                    <ul>
                        <li v-for="(ingrid, index) in dish.ingridients" :key="index">
                            {{ ingrid }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <router-link to="/">
            <button>Back</button>
        </router-link>

        <router-link v-if="userPermissions.update" :to="`/edit/${dish.id}`">
            <button>Edit</button>
        </router-link>

        <button v-if="userPermissions.delete" @click="deleteDish(dish.id)">
            Delete
        </button>
    </div>
</template>

<script>

import { mapActions, mapGetters } from "vuex";

export default {
    data() {
        return {
            dish: {}
        };
    },
    computed: {
        ...mapGetters('dishes', ['getItemById', 'isLoading']),
        ...mapGetters('users', ['userPermissions']),
    },
    methods: {
        ...mapActions('dishes', ['loadList', 'deleteItem']),
        deleteDish(id){
            this.deleteItem(id)
            .then(() => {
                this.$router.push('/')
            })
        }

    },
    created(){
       this.loadList()

        const dishId = this.$route.params.id;
        const item = this.getItemById(dishId);
        this.dish = item;
    }
}
</script>

<style scoped>
.dish{
    display: flex;
    margin-top: 30px;
}
.dish-image{
    margin-right: 24px;
}
ul{
    list-style-type: none; 
}
li{
    margin-bottom: 5px;
}
</style>