<template>
  <div class="">
      <h3>Edit Dish</h3>
      <form @submit.prevent="updateDish" class="add-new-form">
          <div class="form-row">
            <label>Dish name</label>
              <input class="input-field" type="text" v-model="dish.name" required>
          </div>
          <div class="form-row">
            <label>Origin</label>
              <input class="input-field" type="text" v-model="dish.origin" required>
          </div>
          <div class="form-row">
            <label >Cooking time</label>
              <input class="input-field" type="text" v-model="dish.cookingTime" required>
          </div>
          <div class="form-row">
            <label >Image</label>
              <input class="input-field" type="text" v-model="dish.image" required>
          </div>
          <div class="form-row">
            <label >Ingridients</label>
              <textarea class="input-field" name="textarea"  cols="30" rows="10" v-model="dish.ingridients" required></textarea>
          </div>
          <router-link to='/'>
              <button>Back</button>
          </router-link>
          <button type='submit' class='sbm-btn'>Update</button>
      </form>
  </div>
</template>
<script>

import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      dish: {},
    };
  },
  computed: {
    ...mapGetters('dishes', ['getItemById']),
  },
  methods: {
    ...mapActions('dishes', ['updateItem', 'loadList']),
    updateDish() {
      if (this.dish) {
        const itemData = JSON.parse(JSON.stringify(this.dish));
        const itemId = this.dish.id

        this.updateItem({ itemId, data: itemData })
          .then(() => {
            this.$router.push('/')
          })
      } else {
        console.error('Dish is not initialised.');
      }
    },
  },

  created() {
    this.loadList();

    const dishId = this.$route.params.id
    const dish = this.getItemById(dishId)
    this.dish = dish;

  },
};

</script>
<style scoped>
.add-new-form{
    margin: auto;
    display: inline-block;
}
.form-row {
    display: flex;
    margin-bottom: 5px;
}
.input-field{
    margin-right: 5px;
}
.sbm-btn{
    margin: 10px;
}
</style>