<template>
    <div class="home">
      <div v-if="isLoading">Loading....</div>
      <div v-else-if="hasError">Error!!!</div>
      <div v-else>
        <div class="dishes-list">
          <div class="dish" 
          v-for="dish in getItemsList" 
          :key="dish.id"
          @click="$router.push(`/dish/${dish.id}`)">
            <img :src="dish.image" alt="dish.name">
            <p>Dish name: {{ dish.name }}</p>
            <p>Origin: {{ dish.origin }}</p>
            <p>Cooking time: {{ dish.cookingTime }}</p>
          </div>
        </div>
      </div>
    </div>

</template>

<script>

import { mapActions, mapGetters } from 'vuex';

export default {

  data(){
      return{

      }
  },
  computed: {
      ...mapGetters('dishes',['getItemsList', 'isLoading']),
  },
  methods: {
      ...mapActions('dishes',['loadList']),


  },
  created(){
      this.loadList()
  }
}
</script>

<style scoped>
.dishes-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dish{
  flex-basis: 28%;
  margin: 8px;
  padding: 16px;
  box-shadow: 0px 0px 14px 1px #e6e6e6; 
  cursor: pointer;
}
.dish img{
  width: 50%;
}
</style>