<template>
  <div class="container">
          <h3>Login</h3>
          <div>
            <button @click="loginWithGoogle">Login with Google</button>
          </div>
  </div>
</template>

<script>
import { mapActions} from 'vuex'

export default {
  name: 'login',
  methods: {
    ...mapActions('auth',['loginWithGoogle'])
  }
}
</script>
<style scoped>


</style>