<template>
  <nav>
    <router-link to="/">Home</router-link>
    <router-link to="/new">Add Dish</router-link>
    <router-link to="/about">About</router-link>
    <router-link to="/login">Login</router-link>

  </nav>
</template>

<script>
export default{
    name: 'Header',
}
</script>

<style>
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    font-weight: bold;
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    margin-right: 6px;
}

nav a:hover {
    background: #ddd;
    color: #333
}
</style>

