<template>
  <Header />
  <div>
    <div v-if="getUser" class="user-info">
      <span>{{ getUser.displayName }}</span>
      <img :src="getUser.photoURL" />
      <button @click="onLogout">Log out</button>
    </div>
</div>
  <router-view/>
</template>

<script>
import Header from '@/components/Header.vue';
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    Header
  },
  computed: {
     ...mapGetters('auth', ['getUser']),
  },
  methods: {
     ...mapActions('auth', ['logout']),
     onLogout() {
          this.logout()
          this.$router.push({
                name: 'login',
          })
    },
  },
}
  
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
body{
  margin: 0;
}

/* 
nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
} */
</style>
